.productWrapper {
  margin-top: 10px;
}
.productBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.title {
  font-size: 25px;
  color: #fad02c;
  cursor: pointer;
}
.subCategoryWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.para {
  color: #fff;
  font-size: 7px;
  text-align: left;
  font-family: "ABeeZee";
  margin-bottom: 5px;
}
.singleImgWrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 5px !important;
}
.loadText {
  font-size: 10px;
  font-family: "ABeeZee";
  font-weight: 300;
  color: #e9ebff;
  margin-bottom: 3px;
}
.mobileImage {
  width: 70px;
  height: auto;
}

.smallNumber {
  font-size: 14px;
  font-family: "ABeeZee";
  font-weight: 300;
  color: #e9ebff;
  margin-top: 5px;
}
