.boxWrapper {
  position: relative;
  height: 100%;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 300px;
  border: 1px solid #5c646b;
  background-color: #5c646b;
  border-radius: 20px;
  padding: 50px 45px;
}
.btnWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
